body{
    background-color: whitesmoke;
}
.col-md {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery img {
    width: 455px;
    height: 455px;
    object-fit: cover;
    margin: 10px;
    transition: transform 0.3s;
    border-radius: 10px;
  }
  
  .gallery img:hover {
    transform: scale(1.3);
  }
  
  
  



